In [34]:
import pandas as pd
from imblearn.under_sampling import RandomUnderSampler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import  LogisticRegression
from sklearn.metrics import classification_report,roc_auc_score,f1_score,accuracy_score

In [4]:
df = pd.read_csv ('https://github.com/JarFraud/FraudDetection/raw/master/data_FraudDetection_JAR2020.csv')

In [5]:
df

,fyear,gvkey,p_aaer,misstate,act,ap,at,ceq,che,cogs,...,soft_assets,ch_cs,ch_cm,ch_roa,issue,bm,dpi,reoa,EBIT,ch_fcf
0,1990,1009,NaN,0,10.047,3.736,32.335,6.262,0.002,30.633,...,0.312448,0.095082,0.082631,-0.019761,1,0.413170,0.873555,0.167620,0.161961,-0.042140
1,1990,1011,NaN,0,1.247,0.803,7.784,0.667,0.171,1.125,...,0.315904,0.188832,-0.211389,-0.117832,1,0.157887,0.745139,-0.428957,-0.157888,0.100228
2,1990,1017,NaN,0,55.040,3.601,118.120,44.393,3.132,107.343,...,0.605342,0.097551,-0.105780,0.091206,1,2.231337,1.015131,0.394768,0.063681,0.066348
3,1990,1021,NaN,0,24.684,3.948,34.591,7.751,0.411,31.214,...,0.793068,-0.005725,-0.249704,0.017545,1,1.043582,1.026261,0.094822,0.088347,-0.017358
4,1990,1028,NaN,0,17.325,3.520,27.542,-12.142,1.017,32.662,...,0.869182,-0.231536,-1.674893,-0.466667,0,-1.602508,0.598443,-0.942379,-0.700821,0.130349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146040,2014,314866,NaN,0,262.600,12.400,1234.800,194.100,166.200,214.400,...,0.751944,0.560406,0.127217,-0.050591,1,0.103693,0.829680,-0.327178,-0.008179,-0.261606
146041,2014,315318,NaN,0,1578.400,106.700,4557.600,2459.600,997.300,324.400,...,0.742781,-0.118178,0.031360,0.095355,1,0.581796,0.743084,-0.077826,0.000461,-0.296702
146042,2014,316056,NaN,0,973.800,249.500,2015.900,-4.800,290.500,1185.500,...,0.751129,0.004207,-0.037925,0.072050,1,-0.000903,1.063878,-0.002877,0.153133,0.065569
146043,2014,317260,NaN,0,51.743,1.555,322.421,319.230,46.398,24.319,...,0.018001,NaN,NaN,NaN,1,1.109467,NaN,0.000000,0.028804,NaN
146044,2014,317264,NaN,0,233.211,5.224,1099.101,873.214,204.821,43.338,...,0.068841,1.684618,-0.094348,0.020573,1,1.154308,0.745399,0.025562,0.026433,-0.240183

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146045 entries, 0 to 146044
Data columns (total 46 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   fyear        146045 non-null  int64
 1   gvkey        146045 non-null  int64
 2   p_aaer       964 non-null     float64
 3   misstate     146045 non-null  int64
 4   act          146045 non-null  float64
 5   ap           146045 non-null  float64
 6   at           146045 non-null  float64
 7   ceq          146045 non-null  float64
 8   che          146045 non-null  float64
 9   cogs         146045 non-null  float64
 10  csho         146045 non-null  float64
 11  dlc          146045 non-null  float64
 12  dltis        146045 non-null  float64
 13  dltt         146045 non-null  float64
 14  dp           146045 non-null  float64
 15  ib           146045 non-null  float64
 16  invt         146045 non-null  float64
 17  ivao         146045 non-null  float64
 18  ivst         146045 non-null  float64
 19  lct          146045 non-null  float64
 20  lt           146045 non-null  float64
 21  ni           146045 non-null  float64
 22  ppegt        146045 non-null  float64
 23  pstk         146045 non-null  float64
 24  re           146045 non-null  float64
 25  rect         146045 non-null  float64
 26  sale         146045 non-null  float64
 27  sstk         146045 non-null  float64
 28  txp          146045 non-null  float64
 29  txt          146045 non-null  float64
 30  xint         146045 non-null  float64
 31  prcc_f       146045 non-null  float64
 32  dch_wc       141286 non-null  float64
 33  ch_rsst      141194 non-null  float64
 34  dch_rec      141302 non-null  float64
 35  dch_inv      141430 non-null  float64
 36  soft_assets  145453 non-null  float64
 37  ch_cs        130127 non-null  float64
 38  ch_cm        128938 non-null  float64
 39  ch_roa       133367 non-null  float64
 40  issue        146045 non-null  int64
 41  bm           146027 non-null  float64
 42  dpi          136817 non-null  float64
 43  reoa         145454 non-null  float64
 44  EBIT         145454 non-null  float64
 45  ch_fcf       140638 non-null  float64
dtypes: float64(42), int64(4)
memory usage: 51.3 MB

In [6]:
df.misstate.value_counts()

0    145081
1       964
Name: misstate, dtype: int64

In [12]:
all_ft = ['act', 'ap', 'at', 'ceq', 'che',
       'cogs', 'csho', 'dlc', 'dltis', 'dltt', 'dp', 'ib', 'invt', 'ivao',
       'ivst', 'lct', 'lt', 'ni', 'ppegt', 'pstk', 're', 'rect', 'sale',
       'sstk', 'txp', 'txt', 'xint', 'prcc_f', 'dch_wc', 'ch_rsst', 'dch_rec',
       'dch_inv', 'soft_assets', 'ch_cs', 'ch_cm', 'ch_roa', 'issue', 'bm',
       'dpi', 'reoa', 'EBIT', 'ch_fcf']

In [13]:
df[df['misstate']==1][all_ft].describe(
    
)

,act,ap,at,ceq,che,cogs,csho,dlc,dltis,dltt,...,soft_assets,ch_cs,ch_cm,ch_roa,issue,bm,dpi,reoa,EBIT,ch_fcf
count,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,...,964.000000,922.000000,919.000000,924.000000,964.000000,964.000000,946.000000,964.000000,964.000000,944.000000
mean,1762.244718,538.289043,5567.469905,2193.053638,463.983886,3164.789631,194.592115,255.179908,454.354580,1294.284392,...,0.634767,0.382280,-0.095292,-0.012586,0.962656,0.522779,1.042297,-0.312409,-0.024095,-0.103947
std,5047.018857,1786.582556,22281.640805,11823.324357,1964.017520,9184.323888,590.181611,914.248930,1969.306734,5258.411901,...,0.221423,1.214934,2.361857,0.215531,0.189703,0.675489,0.444576,3.753444,0.499045,0.323596
min,0.008000,0.000000,0.147000,-3539.000000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000,...,0.004515,-6.484197,-17.359699,-1.671565,0.000000,-7.034304,0.151757,-89.013245,-7.016393,-2.980601
25%,48.297500,5.651500,87.456000,40.309750,4.289500,37.338250,13.705000,0.256000,0.000000,0.452000,...,0.490044,0.008866,-0.223070,-0.053010,1.000000,0.206795,0.866574,-0.182893,-0.012472,-0.166117
50%,220.104500,25.575000,491.191500,241.603000,44.142000,229.084000,33.642000,4.445000,8.536500,50.858000,...,0.683939,0.150633,-0.026883,-0.004837,1.000000,0.377073,0.980179,0.083526,0.064219,-0.050501
75%,1105.712250,170.786000,2626.729500,970.454250,219.952250,1352.425500,107.733250,43.406000,170.393000,506.833500,...,0.807266,0.433720,0.129397,0.028249,1.000000,0.676198,1.103944,0.234146,0.116144,0.011980
max,64592.000000,18918.426000,331645.000000,181494.000000,33245.000000,97981.000000,6522.248000,9232.000000,28445.000000,88570.000000,...,0.993599,9.600000,16.573810,1.621628,1.000000,4.937457,4.036458,0.784573,0.550619,1.314497

In [17]:
df[[*all_ft,'misstate']].groupby(['misstate']).describe()

               act                                                      \
             count         mean          std    min      25%       50%
misstate
0         145081.0   731.041087  3733.452544 -0.254   8.2030   46.9550
1            964.0  1762.244718  5047.018857  0.008  48.2975  220.1045

                                      ap              ...      EBIT            \
                 75%       max     count        mean  ...       75%       max
misstate                                              ...
0          246.95700  152629.0  145081.0  179.626059  ...  0.107998  0.550619
1         1105.71225   64592.0     964.0  538.289043  ...  0.116144  0.550619

            ch_fcf                                                    \
             count      mean       std       min       25%       50%
misstate
0         139694.0 -0.008200  0.549366 -2.980601 -0.123092 -0.026005
1            944.0 -0.103947  0.323596 -2.980601 -0.166117 -0.050501


               75%       max
misstate
0         0.062703  4.061810
1         0.011980  1.314497

[2 rows x 336 columns]

In [20]:
X=df[all_ft]
y=df.misstate
rus = RandomUnderSampler(sampling_strategy=0.8)
X_res, y_res = rus.fit_resample(X, y)
print(X_res.shape, y_res.shape)
print(pd.value_counts(y_res))

(2169, 42) (2169,)
0    1205
1     964
Name: misstate, dtype: int64

In [26]:
x_train,x_eval,y_train,y_eval=train_test_split(X_res.fillna(0),y_res,test_size=.3)
x_test,x_eval,y_test,y_eval=train_test_split(x_eval,y_eval,test_size=.5)

In [27]:
logis=LogisticRegression()
logis.fit(x_train,y_train)

/Users/lap14171/Works/financial_fraud_detect/env/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [35]:
y_pred = logis.predict(x_eval)
print(classification_report(y_eval, y_pred))
print('accuracy', accuracy_score(y_eval, y_pred))
roc_auc_score(y_eval, y_pred)

              precision    recall  f1-score   support

           0       0.61      0.25      0.35       159
           1       0.54      0.85      0.66       167

    accuracy                           0.56       326
   macro avg       0.58      0.55      0.51       326
weighted avg       0.57      0.56      0.51       326

accuracy 0.5552147239263804

0.5477912100327647

In [37]:
y_pred_proba=logis.predict_proba(x_eval)[:,1]

In [38]:
roc_auc_score(y_eval,y_pred_proba)

0.6543516740104697